#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.joon {
  height: 7px;
  width: 60px;
  background-color: brown;
  margin: 50px auto;
}

.peatsi-pilt {
  height: 600px;
  width: 95%;
  border-radius: 10px;
}

.navigatsiooni-pilt {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}

.navigatsiooni-pilt img{
  height: 150px;
  width: 250px;
  cursor: pointer;
}

.navigatsiooni-pilt img:hover {
  scale: 1.1;
  transition: 0.5s;
  box-shadow: 0 8px 100px 0px;
}

.main-link {
  color: rgb(66, 18, 18);
  background-color: white;
  width: 350px;
  height: 180px;
  margin-top: 20px;
  padding: 20px 0;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto';
}

.facebook-nupp {
  float: left;
}

.facebook-nupp img {
  height: 30px;
  padding: 20px 10px;
}

.facebook-nupp span {
  position: relative;
  top: -30px;
  height: 30px;
  color: black;
}

.facebook-nupp:hover {
  color: #7ba9c3;
  cursor: pointer;
  transition: 0.5;
  box-shadow: 0 8px 100px 0px;
}