#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

.pilt {
  height: 100px;
}

.pilt:hover {
  cursor: pointer;
  opacity: 70%;
}


.pilt:active {
  transform: scale(90%);
}

.summa-aktiivne {
  border: 1px solid rgb(227 6 140);
  color: rgb(227 6 140);
}

.linn-aktiivne {
  text-decoration: underline;
  font-style: italic;
}

.keel-aktiivne {
  font-weight: bold;
}

.kuldne {
  color: goldenrod;
}

.veateade {
  color: red;
}

.link {
  margin: 10px;
  padding: 10px;
  border: 1px solid lightgray;
  border-radius: 10px;
}

.link:hover {
  border: 1px solid gray;
}

.tooted-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 30px;
  padding: 20px;
  justify-items: center;
}

.toote-kaart {
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 12px;
  text-align: center;
  width: 100%;
  max-width: 200px;
  background-color: #fafafa;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.toote-pilt {
  width: 100%;
  max-height: 120px;
  object-fit: contain;
  margin: 10px 0;
}

.toote-nimi {
  font-weight: bold;
  margin-bottom: 4px;
}

.toote-hind {
  color: #333;
  margin-bottom: 8px;
}

.halda-tabel {
  margin: 0 auto;
  border-collapse: collapse;
  width: 80%;
}

.halda-tabel th,
.halda-tabel td {
  padding: 8px;
  text-align: center;
}

.halda-tabel thead {
  background-color: #f0f0f0;
}

.halda-toote-pilt {
  width: 60px;
  height: auto;
}

.vorm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px; /* valikuline, visuaalseks tsentreerimiseks */
}

.vorm input {
  margin-bottom: 5px;
  width: 200px;
}

.vorm label {
  margin-top: 5px;
}

.redigeeri-nupp img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.redigeeri-nupp img:hover {
  transform: scale(110%);
}
.tume {
  background-color: black;
  color: white;
  min-height: 100vh;
}